---
layout: page
title: "About"
description: "Who are you?"
header-img: "img/about-bg.png"
---

<!-- Language Selector -->
<select onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
    <option value="0" selected> 中文 Chinese </option>
    <option value="1"> 英语 English </option>
</select>

<!-- Chinese Version -->
<div class="zh post-container">
    <blockquote>
        爱生活，爱运动，有点暴力，有点黄。
    </blockquote>
    <p>
    90后，生于福建，北漂一族
    </p>
    <p>
    小时候的理想是成为一名火箭驾驶员（后来才知道火箭是无人驾驶的），再后来的理想是成为一名武林高手，现均已破灭
    </p>
    <p>
    我非常喜欢程序员这份工作，同时酷爱健身、电影与篮球
    </p>
    <p>
    我的偶像是李小龙，同时我也非常喜欢周星驰，此外还是詹姆斯的球迷
    </p>
    <p>
    我希望我可以成为一个优秀的程序员，做一个有思想，有文化，有道德，有作为的一个美男子。
    </p>
    <p style="text-align:right;">
        -- 杀猪书生
    </p>
</div>

<!-- English Version -->
<div class="en post-container">
    <blockquote>
        Love life, love sport, a little violence, a little yellow
    </blockquote>
    <p>
    90s, was born in FuJian Province, Beijing drifters
    </p>
    <p>
    When I was young, my dream was to become a rocket driver (later I knew the Rockets were unmanned), and later my dream was to become a martial arts expert，they are now shattered
    </p>
    <p>
    I like being a programmer very much, and I love fitness, movies and basketball at the same time
    </p>
    <p>
    My idol is Bruce Lee, and I like Stephen Chow very much. Besides, I am also a fan of Lebron James
    </p>
    <p>
    I hope I can be a brilliant programmer and be a handsome man with thinking, culture, morality and good deeds.
    </p>
    <p style="text-align:right;">
        -- butcher scholar
    </p>
</div>

<!-- Handle Language Change -->
<script type="text/javascript">
    var $zh = document.querySelector(".zh");
    var $en = document.querySelector(".en");
    function onLanChange(index){
        if (index == 0) {
            $zh.style.display = "block";
            $en.style.display = "none";
        } else {
            $en.style.display = "block";
            $zh.style.display = "none";
        }
    }
    onLanChange(0);
</script>



{% if site.duoshuo_username %}
<!-- 多说评论框 start -->
<div class="comment">
    <div class="ds-thread"
    {% if site.duoshuo_username == "huxblog" %}
        data-thread-id="1187623191091085319"
    {% else %}
        data-thread-key="{{site.duoshuo_username}}/about"
    {% endif %}

    data-title="{{page.title}}"
    data-url="{{site.url}}/about/"></div>
</div>
<!-- 多说评论框 end -->

<!-- Duoshuo hacking -->
<input id="dsUser" type="hidden" value="{{site.duoshuo_username}}"  />

<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    // dynamic User hacking by Hux
    var _user = document.getElementById('dsUser').value;
    // duoshuo comment query.
    var duoshuoQuery = {short_name: _user };
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0]
         || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
</script>
<!-- 多说公共JS代码 end -->
{% endif %}


{% if site.disqus_username %}
<!-- disqus 评论框 start -->
<div class="comment">
    <div id="disqus_thread" class="disqus-thread">

    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus_username}}";
    var disqus_identifier = "{{site.disqus_username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}
